.image {
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  background-size: cover;
  &.avatar {
    width: 32px;
    height: 32px;
    background-image: url(../images/avatar.png);
  }
  &.breakout {
    background-image: url(../images/breakout.png);
  }
  &.chess {
    background-image: url(../images/chess.png);
  }
  &.connect-four {
    background-image: url(../images/connect-four.png);
  }
  &.france {
    background-image: url(../images/france.png);
  }
  &.mario-quiz {
    background-image: url(../images/mario-quiz.png);
  }
  &.mega-man {
    background-image: url(../images/mega-man.png);
  }
  &.platformer {
    background-image: url(../images/platformer.png);
  }
  &.proto-man {
    background-image: url(../images/proto-man.png);
  }
  &.roguelike {
    background-image: url(../images/roguelike.png);
  }
  &.shmup {
    background-image: url(../images/shmup.png);
  }
  &.sky {
    background-image: url(https://pbs.twimg.com/profile_banners/2929359265/1475863722/1500x500);
  }
  &.snake {
    background-image: url(../images/snake.png);
  }
  &.tetris {
    background-image: url(../images/tetris.png);
  }
  &.worlds {
    background-image: url(../images/worlds.png);
  }
  &.world-collisions {
    background-image: url(../images/world-collisions.png);
  }
}
