h1, h2, h3, h4, h5, h6 {
  font: 300 1rem/1.25 sans-serif;
  margin: 0;
}

h1, h2 {
  font-family: $font-stack-title;
}

h3, h4 {
  font-family: $font-stack-heading;
}

h5, h6 {
  font-family: $font-stack-content;
}

h1 {
  font-size: 2rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.25rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

h4 {
  font-weight: 400;
}

p {
  margin: .25rem 0 0;
}

a {
  color: white;
  text-decoration: none;
}

span {
  margin: .5rem 0 0;
  font-size: 1rem;
  line-height: 1;
}
