$color-offwhite: rgb(233, 233, 244);

$color-theme: #4e2488;

$color-box: rgb(244, 244, 255);
$color-box-content: black;

$font-stack-title:   Anton, sans-serif;
$font-stack-heading: "Roboto Condensed", sans-serif;
$font-stack-content: Roboto, sans-serif;
