.hero.-main {
  display: flex;
  position: relative;
  // height: 25vw;
  min-height: 66vmin;
  background-color: black;
  overflow: hidden;
  .content {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 1;
    color: white;
  }
  .title {
    font-size: 2em;
    letter-spacing: .1rem;
    font-weight: normal;
    text-transform: uppercase;
    font-family: Anton
  }
  .subtitle {
    padding: 0;
    font-size: .75em;
    font-weight: normal;
    text-transform: none;
  }
  .image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: no-repeat center/cover url(img/hero-castle.jpg);
    transition: none;
    opacity: .66;
  }
}

@media (min-width: 480px) {
  .hero {
    font-size: 3.5vw;
  }
}

@media (min-width: 640px) {
  .hero {
    font-size: 1.5rem;
  }
}
