$color-one: #00ccff;
$color-onedark: #003388;
$color-two: #660099;
$color-twodark: #330066;
$silver: #cde;
$charcoal: #333;
$font-display: 'Gilroy-ExtraBold', Inter, serif;
$font-content: Inter, sans-serif;
$nav-width: 160px;

body {
  color: white;
  font-family: $font-content;
}

.app {
  position: relative;
  transition: 0.25s right;
}

.app.-menu {
  right: $nav-width;
}

.screen {
  background: linear-gradient(to top left, $color-one, $color-two);
  width: 100%;
  height: calc(100vh - 3rem);
  padding: 0 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.name {
  font-size: 3rem;
  font-family: $font-display;
  line-height: 1;
}

.title, .subtitle {
  font-size: 1.25rem;
  font-family: $font-content;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  line-height: 1.375;
}

.title {
  margin-top: 0.5rem;
}

.subtitle {
  margin-bottom: 2rem;
}

.nav-toggle {
  position: fixed;
  top: 0;
  right: 0;
  margin: 1.25rem;
  z-index: 1;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  width: $nav-width;
  height: 100vh;
  padding: 0.5rem 1rem;
  text-align: right;
  background: black;
  z-index: -2;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 3rem;
}

.nav-link {
  padding: 0.5rem;
  display: block;
  border-bottom: thin solid $charcoal;
}

.button {
  font-family: $font-content;
  font-size: 1rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border: 2px solid white;
}

.socials {
  background: black;
  display: none; // flex;
  flex-direction: column;
  position: absolute;
  padding: 1rem;
  top: 20vh;
  right: 0;
}

.social {
  width: 2rem;
}

.social + .social {
  margin-top: 1.5rem;
}

@font-face {
  font-family: 'Gilroy-Light';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/Gilroy-Light.woff2') format('woff2'),
       url('fonts/Gilroy-Light.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/Gilroy-ExtraBold.woff2') format('woff2'),
       url('fonts/Gilroy-ExtraBold.woff') format('woff');
}
