$color-one: #1fe4a9;
$color-two: #1851f1;
$charcoal: #333;
$silver: #cde;
$gray: #9ab;
$gray-filter: brightness(0) saturate(100%) invert(78%) sepia(11%) saturate(484%) hue-rotate(169deg) brightness(85%) contrast(87%);
$font-display: 'Work Sans', Helvetica, Arial, sans-serif;
$font-content: Inter, Helvetica, Arial, sans-serif;
$nav-width: 160px;

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(64px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

html {
  font-size: 14px;
}

body {
  background: black;
  color: white;
  font-family: $font-content;
}

p, a, em, strong, span, button {
  letter-spacing: 0.05rem;
}

a {
  color: $color-one;
  font-weight: bold;
}

body.-noclick {
  pointer-events: none;
}

.page {
  position: relative;
  transition: 0.25s right;
  right: 0;
}

.page.-slide {
  right: $nav-width;
  pointer-events: auto;
}

.page::before {
  content: '';
  display: block;
  background: black;
  opacity: 0;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: 0.25s opacity;
}

.page.-slide::before {
  opacity: 0.5;
}

.hero {
  background: linear-gradient(to top left, $color-one, $color-two);
  width: 100%;
  height: 100vh; // 540px;
  padding: 0 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  z-index: -2;
}

.hero .button {
  border: 2px solid white;
  padding: 1rem 2rem;
  font-family: $font-content;
  font-size: 1rem;
  letter-spacing: 0.0625rem;
}

.name {
  font-size: 3rem;
  font-family: $font-content;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  line-height: 1;
  margin-top: 2rem;
  animation: 1s appear forwards;
}

.name strong {
  font-size: 3.5rem;
}

.titles {
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: 1s appear forwards 0.25s;
}

.title, .subtitle {
  font-size: 1.25rem;
  font-family: $font-content;
  font-weight: normal;
  letter-spacing: 0.125rem;
  line-height: 1.375;
}

.title {
  margin-top: 0.5rem;
}

.subtitle {
  margin-bottom: 1rem;
}

.nav-toggle {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1.25rem;
  z-index: 1;
  outline: 0;
  background: transparent;
  transition: 0.25s background;
  pointer-events: auto;
}

.nav-toggle.-filled {
  background: black;
}

.nav {
  color: gray;
  position: fixed;
  top: 0;
  right: 0;
  width: $nav-width;
  height: 100vh;
  padding: 0.5rem 1rem;
  text-align: right;
  z-index: -2;
  pointer-events: auto;
  transition: 0.25s background;
}

.nav-title {
  color: white;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
  padding: 0.75rem 0;
  padding-right: 3.5rem;
  line-height: 1.5rem;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 1rem;
}

.nav-link {
  color: inherit;
  border-bottom: thin solid $charcoal;
  padding: 0.75rem;
  display: block;
  position: relative;
  cursor: pointer;
}

.nav-link.-active {
  color: white;
  font-weight: bold;
}

.nav-link::before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 16px);
  height: 4px;
  transition: 0.25s background;
  background: transparent;
}

.nav-link.-active::before {
  background: $color-one;
}

.social span {
  color: white;
}

.hero .socials {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.hero .social {
  display: flex;
  padding: 1rem;
  border: 2px solid white;
  border-radius: 50%;
  opacity: 0;
  transition: 0.25s opacity;
  animation: 1s appear forwards;
}

.hero .social:hover {
  background: rgba(white, 25%);
}

.hero .social:nth-child(1) {
  animation-delay: 0.75s;
}

.hero .social:nth-child(2) {
  animation-delay: 1s;
}

.hero .social:nth-child(3) {
  animation-delay: 1.25s;
}

.hero .social + .social {
  margin-left: 1rem;
}

.footer .socials {
  display: none;
}

.about-picture {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 1.5rem;
}

.about-picture::before {
  content: '';
  display: block;
  background: $color-one;
  width: 100%;
  height: 48px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.about-picture::after {
  content: '';
  display: block;
  background: url(../assets/brandon.jpg);
  background-size: cover;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  box-shadow: 0 0 0 3px white,
    0 0 0 6px $color-one;
  z-index: 1;
}

.section {
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0 2rem;
}

.section-title {
  align-self: center;
  font-family: $font-display;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  position: relative;
  z-index: 1;
  margin: 1rem;
}

.section-title::before {
  content: '';
  display: block;
  width: calc(100% + 8px);
  height: 8px;
  position: absolute;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1px;
  background: $color-one;
}

.section.-about p {
  text-indent: 1.5rem;
  line-height: 2;
}

.section.-about .button {
  margin: 2rem auto 0;
}

.section .button {
  background: $color-one;
  color: white;
  box-shadow: 0 8px 16px rgba($color-one, 50%);
  font-size: 1rem;
  padding: 1rem 2rem;
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.section .button[disabled] {
  background: $silver;
  box-shadow: none;
}

.button .icon.-padded {
  margin-left: 4px;
  margin-right: -8px;
}

.skills {
  display: none;
  margin-left: 2rem;
}

.skills img {
  width: 2rem;
}

.skill {
  display: flex;
  align-items: center;
}

.skill + .skill {
  margin-top: 0.5rem;
}

.skill-bar {
  width: 168px;
  height: 8px;
  margin-left: 1rem;
  background: $silver;
  position: relative;
}

.skill-bar::before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(to left, $color-one, $color-two);
}

.skill-bar.-good::before {
  width: 75%;
}

.skill-bar.-great::before {
  width: 87.5%;
}

.skill-bar.-excellent::before {
  width: 100%;
}

.project-notice {
  margin-top: 1rem;
  color: $gray;
}

.project-notice-icon {
  display: none;
}

.footer {
  text-align: center;
  background: black;
  padding: 1rem 0;
}

.section.-about p, .project {
  margin-left: 6%;
  margin-right: 6%;
}
