.project + .project {
  margin-top: 3rem;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.project-title {
  font-size: 2rem;
}

.project-icons {
  display: flex;
}

.project-icon + .project-icon {
  margin-left: 0.5rem;
}

.project-icon {
  width: 2rem;
  height: 2rem;
}

.project-subtitle {
  display: block;
  margin-bottom: 1rem;
  color: $gray;
}

.project-context {
  font-weight: bold;
}

.project-thumb {
  display: none;
}

.project-image {
  width: 100%;
  border: thin solid $silver;
}

@media screen and (min-width: $break-1) {
  .name strong {
    font-size: 3rem;
  }

  .section-title {
    margin-bottom: 2rem;
  }

  .section.-about p, .project {
    margin-left: 12.5%;
    margin-right: 12.5%;
  }

  .section-addendum {
    margin-top: 2rem;
  }

  .project {
    display: flex;
    align-items: center;
  }

  .project-image {
    width: 33%;
  }

  .project-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .project-header {
    margin-top: 0;
  }

  .project-contents {
    margin-left: 5%;
  }

  .project .button {
    margin-bottom: 0;
  }
}
