* {
  margin: 0;
  padding: 0;
  border: 0;
  background: 0;
  box-sizing: border-box;
  color: inherit;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  width: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.75;
}

p + p {
  margin-top: 1rem;
}
