#article {
  background: $dark-light;
  z-index: 1;
}

.banner {
  background: $dark;
  color: $dark-light;
  text-align: center;
  padding: 24px 8%;
  h3 {
    &::before, &::after {
      border-top-color: inherit;
    }
  }
  p {
    color: white;
  }
}

.box {
  background: white;
  color: darkgray;
  box-shadow: $shadow;
  padding: 1em 8%;
  h3 {
    padding-top: .5em;
    &::before, &::after {
      border-top-color: inherit;
    }
    &:not(:last-child) {
      padding-bottom: 1em;
    }
  }
}

.banner, .box {
  h3 {
    font-size: 1.25rem;
    text-align: center;
    text-transform: uppercase;
    &:not(:last-child) {
      padding-bottom: .75em;
    }
  }
}

p, span, blockquote {
  font-size: .75rem;
}

.figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  .image {
    width: 64px;
    height: 64px;
  }
  .caption {
    padding: 8px;
    font-size: .8rem;
    font-weight: bold;
    color: darkgray;
  }
}

.swf {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

embed {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

@media (min-width: 640px) {
  p, span, blockquote {
    font-size: .9rem;
    letter-spacing: 0;
  }
  .banner, .box {
    h3 {
      font-size: 1.5rem;
      text-align: center;
      text-transform: uppercase;
      &:not(:last-child) {
        padding-bottom: .75em;
      }
    }
  }
}

@media (min-width: $break-desktop) {
  .banner {
    background: transparent;
    color: white;
    text-align: center;
    padding: 1em 13.33%;
    p {
      font-size: 14px;
    }
  }
  .box {
    // background: transparent;
    // color: white;
    // box-shadow: none;
    // p {
    //   color: white;
    // }
  }
}
