doctype
html(lang="en-us")
    head
        title Brandon Semilla
        link(rel="stylesheet" type="text/css" href="./dist/css/style.css")
    body
        .wrapper
            .modal.table
                .avatar.cell
                    .avatar
                        img(src="./dist/img/grandon.png" width=128 height=128)
                .content.cell
                    .content
                        h1 BRANDON SEMILLA
                        span Not for honor,
                        span but for food~
                        span Everythiiiing is a meeeeme--&#9834
                        span #[strong SNAAAAKE EATEERRRRR~]
                        ul.icons
                            li.icon.twitter
                                a(href="https://twitter.com/GrandonBroseph" target="_blank" title="Twitter (Brandon Semilla)" alt="Twitter icon")
                                    include ../../dist/svg/twitter.svg
                            li.icon.github
                                a(href="https://github.com/GrandonBroseph/" target="_blank" title="GitHub (Brandon Semilla)" alt="GitHub icon")
                                    include ../../dist/svg/github.svg
                            li.icon.codepen
                                a(href="http://codepen.io/GrandonBroseph/" target="_blank" title="CodePen (Brandon Semilla)" alt="CodePen icon")
                                    include ../../dist/svg/codepen.svg
