mixin thumb(id, link)
  -var flash = link === "flash"
  -var none  = typeof link === "undefined"
  li.thumb
    if none
      a.image(class= id)&attributes(attributes)
        .overlay
          block
    else if flash
      a.image.flash(class= id data-flash= id)&attributes(attributes)
        .overlay
          block
          span Click to play!
    else
      a.image(class= id href= link target="_blank")&attributes(attributes)
        .overlay
          block
          span Click to play!

doctype
html
  head
    title Brandon Semilla
    meta(name="viewport" content="initial-scale=1")
    link(href="https://fonts.googleapis.com/css?family=Roboto:100,400|Roboto+Condensed:300|Anton" rel="stylesheet" type="text/css")
    link(href="dist/styles/index.css" rel="stylesheet" type="text/css")
  body
    .overlay.invisible
      #swf
    .wrap
      .banner-wrap
        .banner.image.sky(data-parallax=".5")
        .info(data-parallax=".3")
          .image.avatar
          .text
            h1 Brandon Semilla
            h4 Game developer, web designer, jack of no trades.
      header
        h2 Portfolio
        .title
          .image.avatar
          //- h2 Brandon Semilla
        div.icons
          a(href="https://twitter.com/GrandonBroseph" target="_blank").icon
            include ../images/icons/icon-twitter.svg
          a(href="https://github.com/GrandonBroseph/" target="_blank").icon
            include ../images/icons/icon-github.svg
          a(href="http://codepen.io/grandon/" target="_blank").icon
            include ../images/icons/icon-codepen.svg
      .content-wrap
        .box
          ul.thumbs
            +thumb("mega-man", "https://grandonbroseph.github.io/mega-man-battle-royale/")
              h3 Mega Man Battle Royale
              p Play as Mega Man characters and bosses from the iconic series as you engage opponents in competitive, fast-paced head-to-head shooting action. What's not to love?
            +thumb("breakout", "flash")
              h3 Breakout
              p Just another barebones Breakout clone with a few interesting power-ups and distracting particle VFX. As for the victory/defeat screens; well, let's just say they used to be funny.
            +thumb("tetris", "https://grandonbroseph.github.io/mega-man-battle-royale/")
              h3 Tetris
              p A classic-style Tetris game complete with a local head-to-head battle system, garbage collection, a fleshed-out AI, and colors that'll make your eyes bleed.
            +thumb("worlds", "https://grandonbroseph.github.io/worlds/")
              h3 When Worlds Collide
              p A circle-circle physics engine that's out of this world! All sizes and masses are to scale.
            +thumb("mario-quiz", "https://grandonbroseph.github.io/mario-quiz/")
              h3 Mario Quiz
              p A nifty Mario-themed quiz game designed for the classroom. Still working on this one.
            +thumb("shmup", "flash")
              h3 Protagon
              p A block-based shooter about a certain square and his struggle against the evil Antagon.
            +thumb("snake", "flash")
              h3 Yum Yum Dragon Feast!
              p An ordinary Cake undertakes a journey through the labyrinth to-- turn vegan? Something's not right here...
            +thumb("france", "flash")
              h3 France
              p Never thought I'd be proud of a school presentation, but this thing has some pretty sick transitions.
            +thumb("proto-man")
              h3 Proto Man
              p This fan-made installment in the Mega Man series takes place in between Mega Man 2 and 3. Follow Proto Man as he brings a halt to the new mysterious world threat brewing behind the scenes!
            +thumb("mario-quiz", "https://grandonbroseph.github.io/chess/")
              h3 Chess
              p Lightweight, cross-platform browser-based chess engine. Multiplayer is on the horizon.
            +thumb("connect-four", "flash")
              h3 Connect Four
              p A classic-style implementation of Connect Four (you know it's your favorite game), with some game-breaking power-ups.
            +thumb("roguelike", "http://codepen.io/grandon/full/yyGMOp")
              h3 Roguelike
              p A text-based adventure game for the web. It runs a bit slow, so you may have to scale down the window.
      footer.banner-wrap
        span &copy;2016 Brandon Semilla.
    script(src="dist/scripts/index.js")
