@keyframes blink {
  from {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  background: rgba(black, .75);
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  color: white;
  display: flex;
  flex-direction: column;
  box-shadow: $shadow;

  .cancel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: red;
  }

  .component {
    position: relative;
    z-index: 1;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 48px;
    padding: 0 5%;
    .icon {
      padding: 12px;
    }
  }

  .title {
    text-transform: uppercase;
    font-size: 1rem;
    font-family: Anton;
    font-weight: normal;
    line-height: 48px;
  }

  .hero {
    display: flex;
    position: relative;
    width: 100%;
    height: 75vw;
    max-height: 480px;
    overflow: hidden;
    background-color: black;
    img {
      position: absolute;
      width: auto;
      max-width: 100%;
      height: 100%;
      object-fit: contain;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  .wrap {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .image-link {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .play.button {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 72px;
    height: 72px;
    z-index: 1;
    border-radius: 50%;
    background: rgba(black, .5);
    .icon {
      font-size: 36px;
      margin: auto;
    }
  }

  .notice {
    position: absolute;
    top: 0;
    right: 0;
    margin: 3% 5%;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: .75rem;
    font-weight: normal;
    font-family: Roboto;
    z-index: 1;
    color: white;
    animation: blink 1s infinite;
    &::before {
      font-size: 1.25em;
      content: '[ '
    }
    &::after {
      font-size: 1.25em;
      content: ' ]'
    }
  }

  .swf {
    z-index: 2;
  }

  .arrows {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto 0;
    z-index: 2;
    pointer-events: none;
  }

  .button {
    color: inherit;
    &.-hero {
      padding: 14px 0;
      background: rgba(black, .5);
      transition: .5s;
      pointer-events: all;
      &.-left {
        left: 0;
      }
      &.-right {
        right: 0;
      }
      &[inactive] {
        pointer-events: none;
        opacity: .5;
      }
      .icon {
        // font-size: 36px;
        padding: 6px;
      }
    }
    &.-play {
      .icon {
        font-size: 36px;
      }
    }
  }

  .content {
    padding: 8px 16px;
  }

  .whitespace {
    flex: 1;
  }

  .text {
    padding: 8px 16px;
    &.-quote {
      text-align: center;
      font-style: italic;
      color: $dark-light;
    }
    &.-description {
      color: inherit;
    }
  }

  .block {
    display: flex;
    width: 48px;
    height: 48px;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px 5%;
    min-height: 96px;
  }

  .platform {
    padding: 12px;
  }

  .cta {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1;
    padding: 8px 6px;
    padding-right: 12px;
  }
}

.slide-enter-active, .slide-leave-active {
  transition: .75s;
}

.slide-enter-active {
  transition-timing-function: ease-out;
}

.slide-leave-active {
  transition-timing-function: ease-in;
}

.slide-enter, .slide-leave-active {
  transform: translateY(100vh);
}

.slide-image-left-enter-active, .slide-image-left-leave-active, .slide-image-right-enter-active, .slide-image-right-leave-active {
  transition: 1s;
}

.slide-image-left-enter {
  transform: translateX(-100%);
}

.slide-image-left-leave-active {
  transform: translateX(100%);
}

.slide-image-right-enter {
  transform: translateX(100%);
}

.slide-image-right-leave-active {
  transform: translateX(-100%);
}

.slide-fade-enter-active, .slide-fade-leave-active {
  transition: .25s;
}

.slide-fade-quick-enter-active, .slide-fade-quick-leave-active {
  transition: .1s;
}

.slide-fade-enter, .slide-fade-leave-active, .slide-fade-quick-enter, .slide-fade-quick-leave-active {
  opacity: 0;
  transform: translateY(12px);
}

.fade-enter-active, .fade-leave-active {
  transition: 1s;
}

.fade-enter, .fade-leave-active {
  opacity: 0;
}

@media (min-width: 400px) {
  .modal {
    .title {
      font-size: 1.25rem;
    }
    .text {
      font-size: .9rem;
      text-align: center;
    }
  }
}

@media (min-width: 720px) {
  .modal {
    margin: auto;
    max-width: 640px;
    height: 770px;
    background: $dark;
    .hero {
      &:hover {
        .button.-hero {
          &.-left {
            transform: none;
          }
          &.-right {
            transform: none;
          }
        }
      }
      .button.-hero {
        // padding: 24px 0;
        &.-left {
          transform: translateX(-100%);
        }
        &.-right {
          transform: translateX(100%);
        }
        // .icon {
        //   font-size: 36px;
        //   padding: 12px;
        // }
      }
    }
  }
}
