#header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 48px;
  background: transparent;
  color: white;
  z-index: 3;
  transition: transform .25s;
  &[colored] {
    background: $dark;
  }
}

.header-enter, .header-leave-active {
  transform: translateY(-100%);
}

.header-item {
  padding: 12px;
}

.header-section {
  margin: auto 5%;
}

#name-text {
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  transition: .25s;
}

#avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-image: url(images/avatar.png);
  background-size: cover;
  background-position: center;
}

#nav {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#nav-list {
  position: relative;
  background: white;
  text-align: right;
  max-width: 48px;
  transform: scaleY(0);
  transform-origin: top right;
  overflow: hidden;
  transition: transform .25s .25s, max-width .25s ease-in;
  pointer-events: none;
  &[show] {
    pointer-events: auto;
    max-width: 100%;
    transform: scaleY(1);
    transition: transform .25s ease-in, max-width .25s .25s;
  }
  box-shadow: $shadow;
}

.nav-item {
  display: block;
  width: 160px;
}

.nav-link {
  display: block;
  color: rgba($dark, .5);
  line-height: 48px;
  font-size: .75rem;
  padding: 0 16px;
  text-transform: uppercase;
  font-weight: bold;
  transition: .25s;
  &:hover, &:focus {
    outline: 0;
  }
}

.break {
  margin: 6px 12px;
  border-top: thin solid $dark-light;
  &.-light {
    border-color: rgba(white, .25);
  }
}

#nav-icons {
  justify-content: center;
  display: flex;
}

.nav-icon {
  display: flex;
  padding: 6px;
  margin: 4px;
  svg {
    fill: rgba($dark, .5);
  }
}

#nav-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  // background: rgba(black, .25);
  &:not([active]) {
    pointer-events: none;
  }
}

#nav-burger-button {
  transition: background .25s .5s, box-shadow .5s;
  box-shadow: inset 0 0 0 2px transparent;
  // &:hover, &:focus {
  //   box-shadow: inset 0 0 0 2px white;
  // }
  &[toggled] {
    background: white;
    transition: .25s;
    &:hover, &:focus {
      box-shadow: inset 0 0 0 2px white, inset 0 0 0 4px rgba($dark, .5);
    }
    #nav-burger {
      color: rgba($dark, .5);
      transition: .25s;
    }
  }
  z-index: 1;
}

#nav-burger {
  position: relative;
  cursor: pointer;
  color: white;
  transition: .25s .5s;
}
