mixin header(name, items)
  transition(name='header')
    header#header(v-if='showHeader' v-bind:colored='colorHeader')
      section.header-section#name
        h1#avatar.header-item
      nav.header-section#nav
        #nav-overlay.overlay(@click='showNav = false' v-bind:active='showNav')
        button#nav-burger-button.button(@click='showNav = !showNav' @keyup.enter='showNav = !showNav' v-bind:toggled='showNav')
          i#nav-burger.header-item.material-icons menu
        ul#nav-list(v-bind:show='showNav')
          each item in items
            li.nav-item
              a.nav-link.button.-dark(href= item.href target= item.blank ? '_blank' : '_self' @click='showNav = !showNav; showHeader = !showHeader')= item.text
          .break
          li.nav-item
            ul#nav-icons
              a.nav-icon.button.-round.-dark.twitter(href='https://twitter.com/grandonbroseph/' target='_blank')
                include ../../images/icons/social/twitter.svg
              a.nav-icon.button.-round.-dark.github(href='https://github.com/grandonbroseph/' target='_blank')
                include ../../images/icons/social/github.svg
              a.nav-icon.button.-round.-dark.codepen(href='http://codepen.io/grandon/' target='_blank')
                include ../../images/icons/social/codepen.svg
          .break
