@import "https://fonts.googleapis.com/css?family=Roboto:300,700|Roboto+Condensed:300"

$color-theme:        #c792ea
$color-theme-light:  lighten($color-theme, 20%)
$color-heading:      $color-theme
$color-content:      desaturate($color-theme, 50%)
$color-background:   white
$size-title:         2rem
$size-heading:       1.5rem
$size-heading-small: 1.25rem
$size-content:       1rem
$size-avatar:        10rem

body
    margin: 0
    font-family: Roboto, sans-serif
    font-size: 0
    color: $color-content
    min-height: 100vh
    background: linear-gradient($color-background, $color-theme-light)
    h1, h2, h3
        display: block
        margin: 0
        line-height: 1
    h1
        color: $color-heading
        font-family: "Roboto Condensed", sans-serif
        font-weight: 100
        font-size: $size-title
        margin-bottom: 0.75rem
        letter-spacing: 0.05rem
        text-transform: uppercase
        line-height: 24px // Magic number, but it works
    h2
        font-weight: 300
        margin-bottom: 0.5rem
        font-size: $size-heading
    h3
        font-weight: 300
        margin: 0.75rem 0
        font-size: $size-heading-small
    p, span
        font-weight: 300
        margin: 0
        font-size: $size-content
    p
        line-height: 2
    span
        line-height: 1
    a
        text-decoration: none
        color: inherit
    ul
        margin: 0
        padding: 0
        list-style: none
    ul.svg-list
        display: none
    & > .content
        margin-top: 2rem
        // box-sizing: border-box
        .box
            display: table
            height: auto
            position: relative
            margin: auto
            padding: 0 16px
            white-space: nowrap
            & > div
                display: inline-block
                vertical-align: middle
            .cell
                &.avatar, & > .avatar
                    width: $size-avatar * 0.625
                    overflow: hidden
                & > .avatar
                    width: $size-avatar
                    height: $size-avatar
                    background-size: $size-avatar
                    border-radius: 50%
                    background-image: url(../img/grandon.png)
                &.content
                    border-left: 0.15rem solid $color-theme
                & > .content
                    margin: 0 32px
                    display: inline-block
                    ul.icons
                        margin-top: 0.5rem
                        li.icon
                            margin-right: 16px
                            width: 32px
                            height: 32px
                            position: relative
                            display: inline-block
                            a
                                display: block
                                width: inherit
                                height: inherit
                                border-radius: 50%
                                svg
                                    width: inherit
                                    height: inherit
                                    stroke: $color-content
                                    fill: $color-content
                                    transition: 0.25s
                                    &:hover
                                        cursor: pointer
                                        stroke: $color-theme
                                        fill: $color-theme
                                        transform: scale(1.1) translateY(-2px)
                                    &:active
                                        transform: scale(1) translateY(1px)
        .banner
            margin-top: 2rem
            h1
                margin: 0 calc(10% + 1rem)
            .content
                background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0))
                padding: 16px 10%
                position: relative
                margin: 0 auto
                span.status
                ul.repos
                    li.repo
                        text-align: left
                        vertical-align: top
                        margin: 16px 16px 24px 16px
                        display: block
                        max-width: 480px
                        padding: 0 24px
                        border-left: 0.15rem solid $color-theme
                        a
                            display: block
                            .heading
                                margin-bottom: 0.5rem
                            h2
                                display: block
                                color: $color-theme
                                margin-bottom: 0.5rem
                        ul.icons
                            margin-top: 0.5rem
                            li.icon
                                height: 16px
                                margin-right: 1rem
                                display: inline-block
                                vertical-align: middle
                                position: relative
                                font-size: 1rem
                                color: $color-content
                                svg, span
                                    display: inline-block
                                    vertical-align: top
                                svg
                                    fill: $color-heading
                                    margin-right: 0.5rem
                                span


    footer
        display: block
        position: relative
        text-align: center
        margin: 2rem 0
        bottom: 0
        span
            position: relative
            margin: auto
            color: $color-theme
            font-size: $size-content
