#footer {
  padding: 8px 16px;
  background: $dark;
  color: white;
  .content {
    padding: 8px 16px;
    .text {
      line-height: 1.5;
      font-weight: normal;
      display: block;
      text-align: center;
      &.-disclaimer {
        font-style: normal;
        color: $dark-light;
        padding: 0;
        &::before {
          content: '('
        }
        &::after {
          content: ')'
        }
      }
    }
  }
  .icons {
    display: flex;
    justify-content: center;
  }
  .icon {
    padding: 6px;
    margin: 4px;
    svg {
      fill: $dark-light;
    }
  }
}

@media (min-width: $break-desktop) {
  .footer {
    display: flex;
    justify-content: space-between;
    section {
      padding: 8px 16px;
    }
    .content .text {
      text-align: left;
    }
    .break {
      display: none;
    }
  }
}
