#footer {
  padding: 12px 16px 8px 16px;
  background: $dark;
  color: white;
}

.footer-text {
  line-height: 1.25rem;
  font-size: .75rem;
  font-weight: normal;
  display: block;
  text-align: center;
  @at-root i#{&} {
    font-style: normal;
    color: rgba(white, .25);
    &::before {
      content: '('
    }
    &::after {
      content: ')'
    }
  }
}

.footer-icons {
  display: flex;
  justify-content: center;
}

.footer-icon {
  padding: 6px;
  margin: 2px;
  svg {
    fill: rgba(white, .25);
  }
}
