$cube-size: 256px;

.cube {
  position: relative;
  perspective: 256px;
  width: $cube-size;
  height: $cube-size;
}

.cube .faces {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate 120s linear infinite;
}

.cube .face {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  border: thin solid black;
}

.cube .face.left {
  transform: rotateY(-90deg) translateZ($cube-size / 2);
}

.cube .face.right {
  transform: rotateY(90deg) translateZ($cube-size / 2);
}

.cube .face.top {
  transform: rotateX(-90deg) translateZ($cube-size / 2);
}

.cube .face.bottom {
  transform: rotateX(90deg) translateZ($cube-size / 2);
}

.cube .face.front {
  transform: translateZ($cube-size / 2);
}

.cube .face.back {
  transform: rotateX(180deg) translateZ($cube-size / 2);
}

@keyframes rotate {
  from {
    transform: translateZ(-$cube-size / 2) rotateX(0deg) rotateY(0deg) rotateZ(45deg);
  }

  to {
    transform: translateZ(-$cube-size / 2) rotateX(360deg) rotateY(720deg) rotateZ(45deg);
  }
}
