* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  color: gray;
  font-family: "Work Sans", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

.project {
  display: flex;
  justify-content: center;
  padding: 3rem 8%;
}

.platform {
  width: 2.5rem;
  height: 2.5rem;
}

.button {
  margin: 0 0.5rem;
}

.project-header {
  display: flex;
  align-items: center;
  margin: 2rem 0 1rem;
}

.project-headings {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  margin: 0 8%;
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.back {
  display: flex;
  align-items: center;
  color: black;
  font-weight: bold;
}

.icon.-back {
  transform: scaleX(-1);
  margin-right: 0.5rem;
}

.theme-icon + .theme-icon {
  margin-left: 1rem;
}

.project-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-nav {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.nav-text {
  margin: 0 0.5rem;
}

.icon.-arrow {
  font-size: 2rem;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 0.0625rem;
  color: black;
}

h2 {
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  font-size: 1rem;
  color: blue;
  order: -1;
}

p {
  color: black;
  line-height: 1.75;
  margin-top: 1rem;
}

.project-preview {
  position: relative;
  height: 240px;
  perspective: 400px;
  margin-left: 3rem;
}

.preview-imagewrap {
  display: flex;
  flex-direction: column;
  transform: rotateY(-11.25deg) translateX(-26px) translateZ(0);
  transform-origin: 50% 51%;
}

.preview-image {
  width: 512px;
}

.preview-refl {
  position: absolute;
  top: 100%;
  transform: scaleY(-1);
  display: flex;
}

.preview-refl::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 25%,
    rgba(255, 255, 255, 0.5));
}

.carousel {
  display: flex;
}

.carousel-image {
  width: 128px;
  outline: thin solid gray;
}

.carousel-image.-select {
  border: 2px solid white;
  outline: 3px solid blue;
}

.carousel-image + .carousel-image {
  margin-left: 1rem;
}
