@import "cube";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

h1, h2 {
  font-weight: normal;
  line-height: 1;
}

h1 {
  color: gray;
  font-family: Montserrat;
  font-size: 4rem;
  animation-name: appear;
  animation-duration: 2s;
}

h2 {
  color: silver;
  font-family: Lato;
  font-size: 1.5rem;
  letter-spacing: 0.0625rem;
  margin: 0.5rem;
  opacity: 0;
  animation-name: appear;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.headings {
  position: relative;
  z-index: 1;
  margin: 12.5%;
}

.cube {
  position: absolute;
  left: 75%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.cube .face {
  border-color: silver;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(4rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
