* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: lightgray;
  font-family: "Work Sans", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: stretch;
  transform-origin: center center;
}

article {
  margin-top: 8rem;
  margin-right: 2rem;
}

.button {
  margin: 0 0.5rem;
}

.article-header {
  display: flex;
  align-items: center;
  margin: 2rem 0 1rem;
}

.headings {
  font-family: Quicksand, sans-serif;
  margin-right: 2rem;
}

h1 {
  font-size: 2rem;
  letter-spacing: 0.0625rem;
  color: white;
}

h2 {
  font-size: 1.25rem;
  color: gray;
}

p {
  margin-left: 2.5rem;
  line-height: 1.75;
  margin-top: 1rem;
}

aside {
  position: relative;
  height: 512px;
  perspective: 400px;
}

.image {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotateY(-11.25deg);
}

.image, .image::before {
  background: url(assets/tactics.png);
}

.image, .image::before, .image::after {
  position: relative;
  width: 512px;
  height: 512px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  image-rendering: pixelated;
}

.image::before, .image::after {
  content: "";
  display: block;
  position: absolute;
  transform-origin: bottom left;
  transform: scaleY(-1);
}

.image::after {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 0.75));
}

.carousel {
  display: flex;
}

.carousel-image {
  margin-left: 2.5rem;
  width: 128px;
  image-rendering: pixelated;
}

.carousel-image.-select {
  outline: 3px solid white;
}

.carousel-image + .carousel-image {
  margin-left: 1rem;
}
