* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: lightgray;
  font-family: "Work Sans", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

.project {
  display: flex;
  justify-content: center;
  padding: 0 3rem;
}

.project-content {
  margin-top: 8rem;
}

.button {
  margin: 0 0.5rem;
}

.project-header {
  display: flex;
  align-items: center;
  margin: 2rem 0 1rem;
}

.project-headings {
  font-family: Quicksand, sans-serif;
  margin-right: 2rem;
}

.back {
  display: flex;
  align-items: center;
  margin: 1.5rem 2.5rem;
  color: white;
}

.icon.-back {
  transform: scaleX(-1);
}

.back-text {
  font-weight: bold;
  margin-left: 0.5rem;
}

h1 {
  font-size: 2rem;
  letter-spacing: 0.0625rem;
  color: white;
}

h2 {
  font-size: 1.25rem;
  color: gray;
}

p {
  line-height: 1.75;
  margin-top: 1rem;
}

.project-preview {
  position: relative;
  height: 240px;
  perspective: 400px;
}

.preview-imagewrap {
  display: flex;
  flex-direction: column;
  transform: rotateY(-11.25deg);
}

.preview-image {
  width: 512px;
  image-rendering: pixelated;
}

.preview-refl {
  position: absolute;
  top: 100%;
  transform: scaleY(-1);
  display: flex;
}

.preview-refl::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 0.75));
}

.carousel {
  display: flex;
}

.carousel-image {
  width: 128px;
  image-rendering: pixelated;
}

.carousel-image.-select {
  outline: 3px solid white;
}

.carousel-image + .carousel-image {
  margin-left: 1rem;
}
