* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2, h3 {
	font-weight: normal;
	font-family: Rubik;
}

h1 {
	font-size: 2rem;
	line-height: 2rem;
}

h2 {
	font-size: 1rem;
	line-height: 1rem;
	color: gray;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 64px 8%;
}

.title > * {
	margin: 12px;
}

.title {
	display: flex;
}

.icons {
	display: none;
	a {
		display: flex;
		margin: 8px;
	}
}

.logo {
	width: 32px;
	height: 32px;
	margin-top: 22px;
}


.images {
	column-count: 2;
	column-gap: 0.125rem;
	padding: 0.125rem;
	margin: 0;
	margin-bottom: 64px;
	a {
		display: block;
		&:hover {
			opacity: 0.875;
		}
	}
	img {
		display: flex;
		width: 100%;
		margin: 0 0 0.125rem;
	}
}

a {
	transition: 0.25s;
	&:hover {
		opacity: 0.5;
	}
}

@media only screen and (min-width: 540px) {
	h1 {
		font-size: 3rem;
		line-height: 3rem;
	}

	h2 {
		font-size: 1.5rem;
		line-height: 1.5rem;
	}

	.images {
		margin-left: 12%;
		margin-right: 12%;
	}
}

@media only screen and (min-width: 640px) {
	.images {
		column-count: 3;
	}

	.icons {
		display: flex;
	}
}
