* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: Quicksand, sans-serif;
  position: absolute;
}

.app {
  width: 100%;
  height: 100%;
  padding: 0 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.title {
  font-size: 4rem;
  font-family: Montserrat;
}

.socials {
  margin-left: 8rem;
}

.social {
  width: 2rem;
}

.social {
  margin-left: 1.5rem;
}
